@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    font-family: 'Poppins' ,sans-serif;
}
body{
    background-image: url("images/sekolah.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #050000;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #020000;
    padding: 0 0 0 42px;
    background: #fff;
}
::-webkit-input-placeholder{
    color: #686565;
}
i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #000000;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: .2s;
}

