<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/datanilai/style.css') }}">
  <script src="{{ url_for('static', filename='css/datanilai/fontawesome/js/all.js') }}"></script>
  <title>Data Nilai</title>
</head>
<body>
  <main>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fa fa-arrow-right" id="open"></i>
    </label>
    <div class="sidebar">
      <div class="top">
        SMPN1 PANGARIBUAN
        <img src="{{ url_for('static', filename='css/datanilai/image/Logo.png') }}" alt="SMP N 1 PANGARIBUAN">
      </div>
      <ul>
        <li><a href="/menu" class=""><i class="fa fa-house"></i> Dashboard</a></li>
        <li><a href="/datasiswa" class=""><i class="fa fa-children"></i> Data Siswa</a></li>
        <li><a href="/datanilai" class=""><i class="fa fa-square-poll-horizontal"></i> Data Nilai</a></li>
        <li><a href="/clustering" class=""><i class="fa fa-square-poll-horizontal"></i> K-Medoids</a></li>
        <li><a href="#" class=""><i class="fa fa-user"></i> User</a></li>
        <li><a href="/logout" class=""><i class="fa fa-right-from-bracket"></i> Logout</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="header">
        <div class="nav">
          <div class="search">
            <input type="text" placeholder="Pencarian..">
            <button type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="container1">
      <form enctype="multipart/form-data" action="/file_upload-data-nilai" method="POST">
        <div class="form-group">
          <label for="csv">Upload</label>
          <input type="file" name="file" accept=".csv" id="csv" class="form-control-file" />
        </div>
        <input type="submit" name="tombol" value="Kirim" class="btn btn-primary" />
      </form>
    </div>
    
    <!-- Tabel hasil import -->
    <div class="container2">
      <table id="csvTable">
        <thead>
          <tr>
            <th rowspan="2">No</th>
            <th rowspan="2">NIS</th>
            <th rowspan="2">Nama</th>
            <th rowspan="2">Pengetahuan Semester 1</th>
            <th rowspan="2">Keterampilan Semester 1</th>
            <th rowspan="2">Pengetahuan Semester 2</th>
            <th rowspan="2">Keterampilan Semester 2</th>
          </tr>
        </thead>
        <tbody>
          <!-- Table rows will be generated dynamically using JavaScript -->
        </tbody>
      </table>
    </div>
  </main>
  <script src="{{ url_for('static', filename='css/datanilai/fontawesome/js/all.js') }}"></script>
  <script>
    // JavaScript code to generate table rows dynamically
    fetch('/fetch_data-nilai') // Assuming you have a route to fetch data from the database
      .then(response => response.json())
      .then(data => {
        const tableBody = document.querySelector('#csvTable tbody');
        let rowNumber = 1;
        data.forEach(row => {
          const newRow = document.createElement('tr');
          const rowNumberCell = document.createElement('td');
          rowNumberCell.textContent = rowNumber;
          const nisCell = document.createElement('td');
          nisCell.textContent = row.nis;
          const nameCell = document.createElement('td');
          nameCell.textContent = row.nama;
          const PengSem1Cell = document.createElement('td');
          PengSem1Cell.textContent = row.pengetahuan_semester_1;
          const KetSem1Cell = document.createElement('td');
          KetSem1Cell.textContent = row.keterampilan_semester_1;
          const PengSem2Cell = document.createElement('td');
          PengSem2Cell.textContent = row.pengetahuan_semester_2;
          const KetSem2Cell = document.createElement('td');
          KetSem2Cell.textContent = row.keterampilan_semester_2;
          
          newRow.appendChild(rowNumberCell);
          newRow.appendChild(nisCell);
          newRow.appendChild(nameCell);
          newRow.appendChild(PengSem1Cell);
          newRow.appendChild(KetSem1Cell);
          newRow.appendChild(PengSem2Cell);
          newRow.appendChild(KetSem2Cell);
          tableBody.appendChild(newRow);
          
          rowNumber++;
        });
      })
      .catch(error => console.error(error));
  </script>
</body>
</html>
