<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login/boxicons/css/boxicons.css') }}">
    <title>SMN1 PANGARIBUAN - Login</title>
</head>
<body>
    <div class="box">
        <div class="box">
            <div class="container">
                <div class="top">
                    <header>Login</header>
                </div>
                <form action="" method="POST">
                    <div class="input-field">
                        <input type="text" class="input" placeholder="Username" name="username" id="username">
                        <i class='bx bx-user'></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" placeholder="Password" name="password" id="password">
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-field">
                        <input type="submit" class="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>