<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="fontawesome/js/all.js"></script>
    <title>Menu</title>
</head>
<body>
    <main>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fa fa-arrow-right" id="open"></i>
        </label>
        <div class="sidebar">
            <div class="top">
                SMPN1 PANGARIBUAN
                <img src="image/Logo.png" alt=" SMP N 1 PANGARIBUAN">
            </div>
            <ul>
                <li><a class="#" href="#"><i class="fa fa-house"></i> Dashboard</i></a></li>
                <li><a class="#" href="#"><i class="fa fa-children"></i> Data Siswa</i></a></li>
                <li><a class="#" href="#"><i class="fa fa-square-poll-horizontal"></i> Data Nilai</i></a></li>
                <li><a class="#" href="#"><i class="fa fa-square-poll-horizontal"></i> K-Medoids</i></a></li>
                <li><a class="#" href="#"><i class="fa fa-user"></i> User</i></a></li>
                <li><a class="#" href="#"><i class="fa fa-right-from-bracket"></i> Logout</i></a></li>
            </ul>
        </div>
<div class="container">
    <div class="header">
        <div class="nav">
            <div class="search">
                <input type="text" placeholder="Pencarian..">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="user">
            </div>
        </div>
    </div>
</div>
</body>
</html>